.card{
  /* background-color:#69F0AE; */
  border-radius: 10px;
  /* border-width: 5px;
  border-color: #ee8133; */
 
  box-shadow: 0 15px 15px  #FFFFFF;
 

  border: 1px solid #e0e0e0;
  background-image: url('/assets/images/cardbackground.jpg'); 
  background-size: cover; 
  background-position: center; 

  
}

.card:hover {
  transform: scale(1.15);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #ee8133;
}


.myImageHeightAdjuster {
  height: 50px;
  width: 50px;
  color: aqua;
}
.btn {
  background-color: #1e1e1e;
  border-color: #1e1e1e;
}

.btn:hover {
  background-color: #00a16d;
  border-color: #00a16d
}

.card .card-title {
  color: #FFFFFF; /* White color for headings */
}

.card .card-text {
  color: #F0F0F0; /* Light gray color for paragraphs */
}