<div class="rightAligner">
  <nav>
    <ul class="menu-items" >
      <li><a (click)="onHomeClick()" href="#">Home</a></li>
      <li><a (click)="onAboutClick()" href="#">About</a></li>
      <!-- <li *ngIf="!isLoggedIn"><a (click)="onRegisterClick()" href="#">Register</a></li>
      <li *ngIf="!isLoggedIn"><a (click)="onLoginClick()" href="#">Login</a></li>
      <li *ngIf="isLoggedIn"><a (click)="onLogoutClick()" href="#">Logout</a></li> -->
      <!-- Add more menu items as needed -->
    </ul>
  </nav>  
</div>

