.rightAligner{
  display: flex;
  align-self: flex-end;
  align-items: flex-end;
} 

nav {
  /* background-color: #333; Background color for the menu */
  /* border-radius: 20px; */
}

nav ul.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul.menu-items li {
  display: inline-block;
  margin-right: 20px; /* Spacing between menu items */
}

nav ul.menu-items li:last-child {
  margin-right: 0; /* Remove margin from the last item */
}

nav ul.menu-items li a {
  text-decoration: none;
  color: #fff; /* Text color for menu items */
  padding: 10px 15px; /* Padding around menu items */
  border-radius: 20px;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

nav ul.menu-items li a:hover {
  background-color: #ee8133; /* Background color on hover */
  border-radius: 20px;
}

/* Apply different styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .menu-items li a {
    padding: 10px;
    font-size: 14px;
    display: block;
  }
}

/* Apply different styles for screens larger than 1200px */
@media screen and (min-width: 1200px) {
  .menu-items li a {
    padding: 20px;
    font-size: 16px;
  }
}